<%# @TODO support multiple vote types %>
<%
var options;
if (vote != null) {
    options = poll.Options.filter(function (option) {
        return -1 == vote.data.indexOf(option.id);
    });
} else {
    options = poll.Options;
}
%>
<div class="container">
    <div class="row vote">
        <div class="col-xs-6">
            <ul id="sortable1" class="connectedSortable list-group">
                <% for(var i = 0; i < options.length; i++){
                    var option = options[i]; %>
                <div id="option_<%= option.id %>" class="group">
                    <li class="ui-state-default list-group-item group">
                        <span class="glyphicon glyphicon-resize-vertical pull-right" aria-hidden="true"></span>
                        <details>
                            <summary><%= option.name %></summary>
                            <p><%= option.description %></p>
                        </details>

                    </li>
                </div>
                <% } %>
            </ul>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Place your vote here</div>
                <ul id="sortable2" class="connectedSortable list-group">

                    <% if(vote != null){
                    for(var j = 0; j < vote.data.length; j++){
                        var chosen = vote.data[j].value;
                        var name = poll.Options.find(function (option) {
                            return option.id == chosen;
                        }).name;
                        var description = poll.Options.find(function (option) {
                            return option.id == chosen;
                        }).description;
                    %>
                    <div id="option_<%= chosen %>" class="group">
                        <li class="ui-state-default list-group-item group">
                            <span class="glyphicon glyphicon-resize-vertical pull-right" aria-hidden="true"></span>
                            <details>
                                <summary><%= name %></summary>
                                <p><%= description %></p>
                            </details>

                        </li>
                    </div>
                    <% }
                    }
                    %>
                </ul>
            </div>
            <input type="button" id="submitButton" value="Submit" class="btn btn-default"/>
        </div>
    </div>
</div>

<script src="/voteController.js"></script>